<div class="container">
  <div class="box-border">
    <app-countdown-timer [timer]="countdownTimer" [actionType]="actionType"
      (updatedTimer)="getUpdatedTimer($event)"></app-countdown-timer>
  </div>
  <div class="box-border">
    <app-timer-reset (timelimit)="getTimer($event)" (actionCount)="getActionCount($event)" (actionType)="getActionType($event)"
      [countdownTimer]="updatedTimer">
    </app-timer-reset>
  </div>
  <div class="box">
    <app-timer-log [actionType]="actionType"></app-timer-log>
  </div>
  <div class="box">
    <app-click-counts [actionCount]="actionCount"></app-click-counts>
  </div>
</div>