.container {
  border: 2px solid black;
  height: 100%;
  width: 100%;
}

.box {
  border: 2px solid black;
  margin: 27px;
  height: -webkit-fill-available;
  width: auto;
}

.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee span {
  display: inline-block;
  padding-left: 100%;
  line-height: 2;
  animation: marquee 15s linear infinite;
  font-size: 130%;
  color: red;
  font-weight: 800;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
