.container {
    height: 250px;
    width: 100%;
    position: relative;
  }
  .main {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
  }
  
  .timer-label {
    font-size: 130%;
  }
  
  .timer-time {
    margin: 10px 0px 0px 0px;
    font-size: 250%;
    color: green;
    font-weight: 800;
    text-align: center;
  }
  