.btn-blue,
.btn-grey {
  padding: 8px 10px 8px 10px;
  margin: 10px;
}

.btn-blue {
  background-color: blue;
  color: white;
  border: none;
}

.btn-grey {
  background-color: rgb(200, 194, 194);
  color: black;
  border: none;
}
.btn {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-weight: 500;
}
.inp-time {
  padding: 2px 0px 2px 0px;
  width: 30%;
  text-align: right;
}

.input-time{
  text-align: center;
  padding: 70px 0px 0px 0px;
}

.container {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.first-section{
  height: 50%;
}

.paused-at{
  text-align: center;
}

