<div class="container">
  <div class="first-section">
    <p class="input-time">
      Enter Timer Limit&nbsp;
      <input type="number" #timeLimit class="inp-time">
    </p>
    <p class='btn'>
      <button class="btn-blue" (click)=startClicked(timeLimit.value) *ngIf="showStart;else showPause">Start</button>
      <ng-template #showPause>
      <button class="btn-grey" (click)=pauseClicked()>Pause</button>
      </ng-template>
      <button class="btn-grey" (click)=resetClicked(timeLimit.value)>Reset</button>
    </p>
    <div class="paused-at">
      <p *ngFor="let time of pausedAtTimes">Paused at {{time}}</p>
    </div>
  </div>

</div>