<div class="outer">
  <div class="container">
    <h1 class="quick-links">Quick Links</h1>
    <br>
    <ul>
      <li [routerLink]="['/banner']">Floating Banner</li>
      <li [routerLink]="['/timer']">Countdown using Input/Output</li>
      <li [routerLink]="['/subject']">Countdown using Subject</li>
      <li [routerLink]="['/scorecard']">Student Scorecard</li>
      <li [routerLink]="['/blocks']">Blocks</li>
      <li [routerLink]="['/ecommerce']">Ecommerce Layout</li>
    </ul>
  </div>
</div>